body {
    background-color: #f1f1f2;
}
* {
    box-sizing: border-box;
}
.navbar {
    background-color: white;
    position: sticky;
    z-index: 1;
    top: 0;
}
.btn {
    background-color: #ff9900;
}
.li-style {
    list-style: none;
}
.ps-lg-5, .row .col-lg-2, .fourth {
    background-color: white;
}
.row .card:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transform: scale(1.03)
}
.card-img-top {
    width: 100%;
    object-fit: cover !important;
}

@media screen and (max-width: 475px){
    
}